### DDL - Create, Alter, Drop -------> SQLite.DB
### DML - Insert, Update, Delete ------> SQLite.execute
### DQL - Select -----------------------------> SQLite.Query

In [1]:
using SQLite
using DataFrames

In [2]:
db = SQLite.DB("Movies")

SQLite.DB("Movies")

In [3]:
DBInterface.execute(db, "CREATE TABLE IF NOT EXISTS movies(movie_id REAL, movie_name TEXT, location TEXT)")

SQLite.Query(SQLite.Stmt(SQLite.DB("Movies"), Ptr{Nothing} @0x00000000278eb978, Dict{Int64,Any}(), 101), Base.RefValue{Int32}(101), Symbol[], Type[], Dict{Symbol,Int64}())

In [4]:
SQLite.tables(db) |> DataFrame

1×1 DataFrame
│ Row │ name   │
│     │ String │
├─────┼────────┤
│ 1   │ movies │

In [5]:
stmt = SQLite.Stmt(db, "INSERT INTO movies (movie_id, movie_name, location) VALUES (?, ?, ?)")

SQLite.Stmt(SQLite.DB("Movies"), Ptr{Nothing} @0x00000000276ed008, Dict{Int64,Any}(), 0)

In [6]:
DBInterface.execute(stmt, (1, "AlaVaikuntapuramuloo", "Hyderabad"))
DBInterface.execute(stmt, (1, "SarileruNeekevaru", "Hyderabad"))

SQLite.Query(SQLite.Stmt(SQLite.DB("Movies"), Ptr{Nothing} @0x00000000276ed008, Dict{Int64,Any}(2 => "SarileruNeekevaru",3 => "Hyderabad",1 => 1), 101), Base.RefValue{Int32}(101), Symbol[], Type[], Dict{Symbol,Int64}())

In [7]:
DBInterface.execute(db, "select * from movies") |> DataFrame

3×3 DataFrame
│ Row │ movie_id │ movie_name           │ location  │
│     │ Float64  │ String               │ String    │
├─────┼──────────┼──────────────────────┼───────────┤
│ 1   │ 1.0      │ AlaVaikuntapuramuloo │ Hyderabad │
│ 2   │ 1.0      │ AlaVaikuntapuramuloo │ Hyderabad │
│ 3   │ 1.0      │ SarileruNeekevaru    │ Hyderabad │

In [9]:
SQLite.columns(db, "movies") |> DataFrame

3×6 DataFrame
│ Row │ cid   │ name       │ type   │ notnull │ dflt_value │ pk    │
│     │ Int64 │ String     │ String │ Int64   │ Missing    │ Int64 │
├─────┼───────┼────────────┼────────┼─────────┼────────────┼───────┤
│ 1   │ 0     │ movie_id   │ REAL   │ 0       │ missing    │ 0     │
│ 2   │ 1     │ movie_name │ TEXT   │ 0       │ missing    │ 0     │
│ 3   │ 2     │ location   │ TEXT   │ 0       │ missing    │ 0     │

In [10]:
chinook = SQLite.DB("chinook.db")

SQLite.DB("chinook.db")

In [14]:
SQLite.tables(chinook) |> DataFrame

13×1 DataFrame
│ Row │ name            │
│     │ String          │
├─────┼─────────────────┤
│ 1   │ albums          │
│ 2   │ sqlite_sequence │
│ 3   │ artists         │
│ 4   │ customers       │
│ 5   │ employees       │
│ 6   │ genres          │
│ 7   │ invoices        │
│ 8   │ invoice_items   │
│ 9   │ media_types     │
│ 10  │ playlists       │
│ 11  │ playlist_track  │
│ 12  │ tracks          │
│ 13  │ sqlite_stat1    │

In [ ]:
DBInterface.execute(chinook, "select * from employees") |> DataF